@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

.Board {
  margin: 0 auto;
}

.Board-title{
font-family: 'Bungee Outline', cursive;
letter-spacing: 5px;
font-size: 60px;
}

.Board-cellWrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 10px rgb(175, 2, 255);
  max-width: 510px;
  margin: 3.5rem auto;
}

.Board-data{
  font-size: 18px;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
    color: rgb(149, 38, 253);

  }
}